# 1. Project Understanding

The problem is this: instructors and decision-makers in the education field have a difficult time deciding where and how to invest limited resources.  The goal of these individuals is to help students to be successful. Therefore, the ability to guage which neighborhoods' students are more or less successful than any other and *why* is very valuable.  This analysis seeks to provide decision makers with a way to answer these questions: 
* Is any given student a product of their environemnt?  Put more succinclty: is there a relationship between a student's environment (on a neighborhood level) and their academic success? 
* If such a relationship exists, is it possible to say whether or not a body of students is likely to succeed, based on one perameter or another?

Given the scope of this project and the amount of data being compared, we will limit our examination to a single city: New York City.  The variety of neighborhoods and success rates among students (as well as the high volume of quality data) makes this a choice of convenience, though we are hoping, not a fatal one.

# 2. Analytic Approach

First, we must find a way of quantifying "success" in an academic setting. Thankfully, metrics such as GPA and SAT scores have long been used for such a purpose, and are readily available.

Secondly, we must find a way of identifying those "feautures" that makes any given neighborhood different from or similar to another one.  The sky is the limit, in this regard.  However, for the purposes of this analysis, we will focus on the following:

* Average per-capita income
* Number of occurences of crime (separated by type) in a given neighborhood
* Number of neighborhood features in the form of venues (separated by type)

Given that each of these values is a countable feature and the feature we are tryign to predict (success in the form of a test score) is also a continuous quantity, we should be able to model the problem using various forms of regression.  For the Data Exploration phase, we will use various forms of linear regression to identify relationships.  For the model-building phase, we will use a polynomial regression to try to predict student success.

# 3. Data Requirements

Any geocoded data, such as the following, should be organized either by zip code or neighborhood name.  Furthermore, dated information, such as SAT scores, crimes, and average income, should be from around around the same time period.  After all, we are supposing that the students producing these scores were subject to the environment we are measuring.

# 4. Data Collection

### Neighborhood Venue data

*(Constructed during previous Coursera exercises)* Contains Foursquare Data for all of New York City's neighborhoods.

### Income Data

[Income data on Kaggle](https://www.kaggle.com/wpncrh/zip-code-income-tax-data-2014)

### Average SAT data for NY schools

[NY SAT data on Kaggle](https://www.kaggle.com/nycopendata/high-schools)

### New York City Crime Data 

[Crime Data on Kaggle](https://www.kaggle.com/adamschroeder/crimes-new-york-city)

In [9]:
# import basic libraries

import pandas as pd 

# import data from CSV files

ny_crimes_df = pd.read_csv('data/NYPD_Complaint_Data_Historic.csv')
ny_crimes_df_desc = pd.read_csv('data/Crime_Column_Description.csv')

In [18]:
# Crime Data
print(ny_crimes_df_desc['Description'])
ny_crimes_df.head()

0     Randomly generated persistent ID for each comp...
1     Exact date of occurrence for the reported even...
2     Exact time of occurrence for the reported even...
3     Ending date of occurrence for the reported eve...
4     Ending time of occurrence for the reported eve...
5                    Date event was reported to police
6               Three digit offense classification code
7     Description of offense corresponding with key ...
8     Three digit internal classification code (more...
9     Description of internal classification corresp...
10    Indicator of whether crime was successfully co...
11    Level of offense: felony, misdemeanor, violation
12    Jurisdiction responsible for incident. Either ...
13    The name of the borough in which the incident ...
14          The precinct in which the incident occurred
15    Specific location of occurrence in or around t...
16    Specific description of premises; grocery stor...
17    Name of NYC park, playground or greenspace of ...
18    Name of NYCHA housing development of occurrenc...
19    X-coordinate for New York State Plane Coordina...
20    Y-coordinate for New York State Plane Coordina...
21    Latitude coordinate for Global Coordinate Syst...
22    Longitude coordinate for Global Coordinate Sys...
Name: Description, dtype: object

   CMPLNT_NUM CMPLNT_FR_DT  ...  Longitude                        Lat_Lon
0   101109527   12/31/2015  ... -73.916661  (40.828848333, -73.916661142)
1   153401121   12/31/2015  ... -73.784557  (40.697338138, -73.784556739)
2   569369778   12/31/2015  ... -73.945052  (40.802606608, -73.945051911)
3   968417082   12/31/2015  ... -73.726339  (40.654549444, -73.726338791)
4   641637920   12/31/2015  ... -73.987891     (40.7380024, -73.98789129)

[5 rows x 24 columns]

In [13]:
# Income Data
income_df = pd.read_csv('data/14zpallagi.csv')

In [19]:
income_df.head()

   STATEFIPS STATE  zipcode  agi_stub  ...   N11901    A11901    N11902     A11902
0          1    AL        0         1  ...  62690.0   47433.0  744910.0  1964826.0
1          1    AL        0         2  ...  70780.0  101969.0  413790.0  1177400.0
2          1    AL        0         3  ...  62170.0  132373.0  192050.0   538160.0
3          1    AL        0         4  ...  45120.0  124048.0  115470.0   375882.0
4          1    AL        0         5  ...  81180.0  387298.0  114380.0   448442.0

[5 rows x 127 columns]

In [21]:
# SAT Data
sat_df = pd.read_csv('data/scores.csv')

In [22]:
sat_df.head()

  School ID  ... Percent Tested
0    02M260  ...            NaN
1    06M211  ...            NaN
2    01M539  ...          91.0%
3    02M294  ...          78.9%
4    02M308  ...          65.1%

[5 rows x 22 columns]

In [23]:
# Neighborhood Data
neighborhood_df = pd.read_csv('data/ny_neighborhood_venu_cat_count.csv')

In [24]:
neighborhood_df.head()

   Unnamed: 0   Neighborhood  ...  Wings Joint  Women's Store
0           0       Allerton  ...            0              0
1           1       Annadale  ...            0              0
2           2  Arden Heights  ...            0              0
3           3      Arlington  ...            0              0
4           4       Arrochar  ...            0              0

[5 rows x 428 columns]

# 5. Data understanding

# 6. Data Preparation

# 7. Modeling

# 8. Evaluation

# 9. Deployment

# 10. Feedback